USE [PrestigeCars]
GO
/****** Object:  Schema [Data]    Script Date: 01/06/2018 08:48:39 ******/
CREATE SCHEMA [Data]
GO
/****** Object:  Schema [DataTransfer]    Script Date: 01/06/2018 08:48:39 ******/
CREATE SCHEMA [DataTransfer]
GO
/****** Object:  Schema [Output]    Script Date: 01/06/2018 08:48:39 ******/
CREATE SCHEMA [Output]
GO
/****** Object:  Schema [Reference]    Script Date: 01/06/2018 08:48:39 ******/
CREATE SCHEMA [Reference]
GO
/****** Object:  Schema [SourceData]    Script Date: 01/06/2018 08:48:39 ******/
CREATE SCHEMA [SourceData]
GO
/****** Object:  Table [Data].[Country]    Script Date: 01/06/2018 08:48:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Data].[Country](
	[CountryName] [nvarchar](150) NULL,
	[CountryISO2] [nchar](10) NULL,
	[CountryISO3] [nchar](10) NULL,
	[SalesRegion] [nvarchar](20) NULL,
	[CountryFlag] [varbinary](max) NULL,
	[FlagFileName] [nvarchar](50) NULL,
	[FlagFileType] [nchar](3) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Data].[Customer]    Script Date: 01/06/2018 08:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Data].[Customer](
	[CustomerID] [nvarchar](5) NOT NULL,
	[CustomerName] [nvarchar](150) NULL,
	[Address1] [nvarchar](50) NULL,
	[Address2] [nvarchar](50) NULL,
	[Town] [nvarchar](50) NULL,
	[PostCode] [nvarchar](50) NULL,
	[Country] [nchar](10) NULL,
	[IsReseller] [bit] NULL,
	[IsCreditRisk] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Data].[Make]    Script Date: 01/06/2018 08:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Data].[Make](
	[MakeID] [smallint] IDENTITY(1,1) NOT NULL,
	[MakeName] [nvarchar](100) NULL,
	[MakeCountry] [char](3) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Data].[Model]    Script Date: 01/06/2018 08:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Data].[Model](
	[ModelID] [smallint] IDENTITY(1,1) NOT NULL,
	[MakeID] [smallint] NULL,
	[ModelName] [nvarchar](150) NULL,
	[ModelVariant] [nvarchar](150) NULL,
	[YearFirstProduced] [char](4) NULL,
	[YearLastProduced] [char](4) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Data].[SalesDetails]    Script Date: 01/06/2018 08:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Data].[SalesDetails](
	[SalesDetailsID] [int] IDENTITY(1,1) NOT NULL,
	[SalesID] [int] NULL,
	[LineItemNumber] [tinyint] NULL,
	[StockID] [nvarchar](50) NULL,
	[SalePrice] [numeric](18, 2) NULL,
	[LineItemDiscount] [numeric](18, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Data].[Stock]    Script Date: 01/06/2018 08:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Data].[Stock](
	[StockCode] [nvarchar](50) NULL,
	[ModelID] [smallint] NULL,
	[Cost] [money] NULL,
	[RepairsCost] [money] NULL,
	[PartsCost] [money] NULL,
	[TransportInCost] [money] NULL,
	[IsRHD] [bit] NULL,
	[Color] [nvarchar](50) NULL,
	[BuyerComments] [nvarchar](4000) NULL,
	[DateBought] [date] NULL,
	[TimeBought] [time](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Data].[Sales]    Script Date: 01/06/2018 08:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Data].[Sales](
	[SalesID] [int] NOT NULL,
	[CustomerID] [nvarchar](5) NULL,
	[InvoiceNumber] [char](8) NULL,
	[TotalSalePrice] [numeric](18, 2) NULL,
	[SaleDate] [datetime] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [Data].[SalesByCountry]    Script Date: 01/06/2018 08:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [Data].[SalesByCountry]

AS

SELECT   
 CO.CountryName
,MK.MakeName
,MD.ModelName, ST.Cost
,ST.RepairsCost
,ST.PartsCost
,ST.TransportInCost
,ST.Color
,SD.SalePrice
,SD.LineItemDiscount
,SA.InvoiceNumber
,SA.SaleDate
,CS.CustomerName
,SD.SalesDetailsID

FROM     Data.Stock ST 
         INNER JOIN Data.Model MD ON ST.ModelID = MD.ModelID 
         INNER JOIN Data.Make MK ON MD.MakeID = MK.MakeID 
         INNER JOIN Data.SalesDetails SD ON ST.StockCode = SD.StockID 
         INNER JOIN Data.Sales SA ON SD.SalesID = SA.SalesID 
         INNER JOIN Data.Customer CS ON SA.CustomerID = CS.CustomerID 
         INNER JOIN Data.Country CO  ON CS.Country = CO.CountryISO2




GO
/****** Object:  Table [Data].[PivotTable]    Script Date: 01/06/2018 08:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Data].[PivotTable](
	[Color] [nvarchar](50) NULL,
	[2015] [numeric](38, 2) NULL,
	[2016] [numeric](38, 2) NULL,
	[2017] [numeric](38, 2) NULL,
	[2018] [numeric](38, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [DataTransfer].[Sales2015]    Script Date: 01/06/2018 08:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataTransfer].[Sales2015](
	[MakeName] [nvarchar](100) NULL,
	[ModelName] [nvarchar](150) NULL,
	[CustomerName] [nvarchar](150) NULL,
	[CountryName] [nvarchar](150) NULL,
	[Cost] [money] NULL,
	[RepairsCost] [money] NULL,
	[PartsCost] [money] NULL,
	[TransportInCost] [money] NULL,
	[SalePrice] [numeric](18, 2) NULL,
	[SaleDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [DataTransfer].[Sales2016]    Script Date: 01/06/2018 08:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataTransfer].[Sales2016](
	[MakeName] [nvarchar](100) NULL,
	[ModelName] [nvarchar](150) NULL,
	[CustomerName] [nvarchar](150) NULL,
	[CountryName] [nvarchar](150) NULL,
	[Cost] [money] NULL,
	[RepairsCost] [money] NULL,
	[PartsCost] [money] NULL,
	[TransportInCost] [money] NULL,
	[SalePrice] [numeric](18, 2) NULL,
	[SaleDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [DataTransfer].[Sales2017]    Script Date: 01/06/2018 08:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataTransfer].[Sales2017](
	[MakeName] [nvarchar](100) NULL,
	[ModelName] [nvarchar](150) NULL,
	[CustomerName] [nvarchar](150) NULL,
	[CountryName] [nvarchar](150) NULL,
	[Cost] [money] NULL,
	[RepairsCost] [money] NULL,
	[PartsCost] [money] NULL,
	[TransportInCost] [money] NULL,
	[SalePrice] [numeric](18, 2) NULL,
	[SaleDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [DataTransfer].[Sales2018]    Script Date: 01/06/2018 08:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataTransfer].[Sales2018](
	[MakeName] [nvarchar](100) NULL,
	[ModelName] [nvarchar](150) NULL,
	[CustomerName] [nvarchar](150) NULL,
	[CountryName] [nvarchar](150) NULL,
	[Cost] [money] NULL,
	[RepairsCost] [money] NULL,
	[PartsCost] [money] NULL,
	[TransportInCost] [money] NULL,
	[SalePrice] [numeric](18, 2) NULL,
	[SaleDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Output].[StockPrices]    Script Date: 01/06/2018 08:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Output].[StockPrices](
	[MakeName] [nvarchar](100) NULL,
	[ModelName] [nvarchar](150) NULL,
	[Cost] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Reference].[Budget]    Script Date: 01/06/2018 08:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Reference].[Budget](
	[BudgetKey] [int] IDENTITY(1,1) NOT NULL,
	[BudgetValue] [money] NULL,
	[Year] [int] NULL,
	[Month] [tinyint] NULL,
	[BudgetDetail] [nvarchar](50) NULL,
	[BudgetElement] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Reference].[Forex]    Script Date: 01/06/2018 08:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Reference].[Forex](
	[ExchangeDate] [date] NULL,
	[ISOCurrency] [char](3) NULL,
	[ExchangeRate] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Reference].[MarketingCategories]    Script Date: 01/06/2018 08:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Reference].[MarketingCategories](
	[MakeName] [nvarchar](100) NULL,
	[MarketingType] [nvarchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Reference].[MarketingInformation]    Script Date: 01/06/2018 08:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Reference].[MarketingInformation](
	[CUST] [nvarchar](150) NULL,
	[Country] [nchar](10) NULL,
	[SpendCapacity] [varchar](25) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Reference].[SalesBudgets]    Script Date: 01/06/2018 08:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Reference].[SalesBudgets](
	[BudgetArea] [varchar](35) NULL,
	[BudgetAmount] [money] NULL,
	[BudgetYear] [int] NULL,
	[DateUpdated] [datetime] NULL,
	[Comments] [nvarchar](4000) NULL,
	[BudgetMonth] [tinyint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Reference].[SalesCategory]    Script Date: 01/06/2018 08:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Reference].[SalesCategory](
	[LowerThreshold] [int] NULL,
	[UpperThreshold] [int] NULL,
	[CategoryDescription] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Reference].[Staff]    Script Date: 01/06/2018 08:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Reference].[Staff](
	[StaffID] [int] IDENTITY(1,1) NOT NULL,
	[StaffName] [nvarchar](50) NULL,
	[ManagerID] [int] NULL,
	[Department] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Reference].[StaffHierarchy]    Script Date: 01/06/2018 08:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Reference].[StaffHierarchy](
	[HierarchyReference] [hierarchyid] NULL,
	[StaffID] [int] IDENTITY(1,1) NOT NULL,
	[StaffName] [nvarchar](50) NULL,
	[ManagerID] [int] NULL,
	[Department] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Reference].[YearlySales]    Script Date: 01/06/2018 08:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Reference].[YearlySales](
	[MakeName] [nvarchar](100) NULL,
	[ModelName] [nvarchar](150) NULL,
	[CustomerName] [nvarchar](150) NULL,
	[CountryName] [nvarchar](150) NULL,
	[Cost] [money] NULL,
	[RepairsCost] [money] NULL,
	[PartsCost] [money] NULL,
	[TransportInCost] [money] NULL,
	[SalePrice] [numeric](18, 2) NULL,
	[SaleDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [SourceData].[SalesInPounds]    Script Date: 01/06/2018 08:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SourceData].[SalesInPounds](
	[MakeName] [nvarchar](100) NULL,
	[ModelName] [nvarchar](150) NULL,
	[VehicleCost] [varchar](51) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [SourceData].[SalesText]    Script Date: 01/06/2018 08:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SourceData].[SalesText](
	[CountryName] [nvarchar](150) NULL,
	[MakeName] [nvarchar](100) NULL,
	[Cost] [varchar](20) NULL,
	[SalePrice] [varchar](20) NULL
) ON [PRIMARY]
GO
INSERT [Data].[Country] ([CountryName], [CountryISO2], [CountryISO3], [SalesRegion], [CountryFlag], [FlagFileName], [FlagFileType]) VALUES (N'Belgium', N'BE        ', N'BEL       ', N'EMEA', NULL, NULL, NULL)
GO
INSERT [Data].[Country] ([CountryName], [CountryISO2], [CountryISO3], [SalesRegion], [CountryFlag], [FlagFileName], [FlagFileType]) VALUES (N'France', N'FR        ', N'FRA       ', N'EMEA', NULL, NULL, NULL)
GO
INSERT [Data].[Country] ([CountryName], [CountryISO2], [CountryISO3], [SalesRegion], [CountryFlag], [FlagFileName], [FlagFileType]) VALUES (N'Germany', N'DE        ', N'DEU       ', N'EMEA', NULL, NULL, NULL)
GO
INSERT [Data].[Customer] ([CustomerID], [CustomerName], [Address1], [Address2], [Town], [PostCode], [Country], [IsReseller], [IsCreditRisk]) VALUES (N'0001', N'Magic Motors', N'27, Handsworth Road', NULL, N'Birmingham', N'B1 7AZ', N'GB        ', 1, 0)
GO
INSERT [Data].[Customer] ([CustomerID], [CustomerName], [Address1], [Address2], [Town], [PostCode], [Country], [IsReseller], [IsCreditRisk]) VALUES (N'0002', N'Snazzy Roadsters', N'102, Bleak Street', NULL, N'Birmingham', N'B3 5ST', N'GB        ', 1, 1)
GO
INSERT [Data].[Customer] ([CustomerID], [CustomerName], [Address1], [Address2], [Town], [PostCode], [Country], [IsReseller], [IsCreditRisk]) VALUES (N'0003', N'Birmingham Executive Prestige Vehicles', N'96, Aardvark Avenue', NULL, N'Birmingham', N'B2 8UH', N'GB        ', 1, 0)
GO
SET IDENTITY_INSERT [Data].[Make] ON 
GO
INSERT [Data].[Make] ([MakeID], [MakeName], [MakeCountry]) VALUES (1, N'Ferrari', N'ITA')
GO
INSERT [Data].[Make] ([MakeID], [MakeName], [MakeCountry]) VALUES (2, N'Porsche', N'GER')
GO
INSERT [Data].[Make] ([MakeID], [MakeName], [MakeCountry]) VALUES (3, N'Lamborghini', N'ITA')
GO
SET IDENTITY_INSERT [Data].[Make] OFF
GO
SET IDENTITY_INSERT [Data].[Model] ON 
GO
INSERT [Data].[Model] ([ModelID], [MakeID], [ModelName], [ModelVariant], [YearFirstProduced], [YearLastProduced]) VALUES (1, 1, N'Daytona', NULL, NULL, NULL)
GO
INSERT [Data].[Model] ([ModelID], [MakeID], [ModelName], [ModelVariant], [YearFirstProduced], [YearLastProduced]) VALUES (2, 1, N'Testarossa', NULL, NULL, NULL)
GO
INSERT [Data].[Model] ([ModelID], [MakeID], [ModelName], [ModelVariant], [YearFirstProduced], [YearLastProduced]) VALUES (3, 1, N'355', NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [Data].[Model] OFF
GO
INSERT [Data].[PivotTable] ([Color], [2015], [2016], [2017], [2018]) VALUES (N'Black', CAST(374490.00 AS Numeric(38, 2)), CAST(1251410.00 AS Numeric(38, 2)), CAST(3112550.00 AS Numeric(38, 2)), CAST(1983695.00 AS Numeric(38, 2)))
GO
INSERT [Data].[PivotTable] ([Color], [2015], [2016], [2017], [2018]) VALUES (N'Blue', CAST(284600.00 AS Numeric(38, 2)), CAST(423650.00 AS Numeric(38, 2)), CAST(708420.00 AS Numeric(38, 2)), CAST(1186400.00 AS Numeric(38, 2)))
GO
INSERT [Data].[PivotTable] ([Color], [2015], [2016], [2017], [2018]) VALUES (N'British Racing Green', CAST(111500.00 AS Numeric(38, 2)), CAST(663250.00 AS Numeric(38, 2)), CAST(872340.00 AS Numeric(38, 2)), CAST(566385.00 AS Numeric(38, 2)))
GO
SET IDENTITY_INSERT [Data].[Sales] ON 
GO
INSERT [Data].[Sales] ([SalesID], [CustomerID], [InvoiceNumber], [TotalSalePrice], [SaleDate], [ID]) VALUES (1, N'0001', N'GBPGB001', CAST(65000.00 AS Numeric(18, 2)), CAST(N'2015-01-02T08:00:00.000' AS DateTime), 1)
GO
INSERT [Data].[Sales] ([SalesID], [CustomerID], [InvoiceNumber], [TotalSalePrice], [SaleDate], [ID]) VALUES (2, N'0002', N'GBPGB002', CAST(220000.10 AS Numeric(18, 2)), CAST(N'2015-01-25T00:00:00.000' AS DateTime), 2)
GO
INSERT [Data].[Sales] ([SalesID], [CustomerID], [InvoiceNumber], [TotalSalePrice], [SaleDate], [ID]) VALUES (3, N'0003', N'GBPGB003', CAST(19500.00 AS Numeric(18, 2)), CAST(N'2015-02-03T10:00:00.000' AS DateTime), 3)
GO
SET IDENTITY_INSERT [Data].[Sales] OFF
GO
SET IDENTITY_INSERT [Data].[SalesDetails] ON 
GO
INSERT [Data].[SalesDetails] ([SalesDetailsID], [SalesID], [LineItemNumber], [StockID], [SalePrice], [LineItemDiscount]) VALUES (1, 1, 1, N'B1C3B95E-3005-4840-8CE3-A7BC5F9CFB3F', CAST(65000.00 AS Numeric(18, 2)), CAST(2700.00 AS Numeric(18, 2)))
GO
INSERT [Data].[SalesDetails] ([SalesDetailsID], [SalesID], [LineItemNumber], [StockID], [SalePrice], [LineItemDiscount]) VALUES (2, 2, 1, N'A2C3B95E-3005-4840-8CE3-A7BC5F9CFB5F', CAST(220000.00 AS Numeric(18, 2)), CAST(60000.00 AS Numeric(18, 2)))
GO
INSERT [Data].[SalesDetails] ([SalesDetailsID], [SalesID], [LineItemNumber], [StockID], [SalePrice], [LineItemDiscount]) VALUES (3, 3, 1, N'558620F5-B9E8-4FFF-8F73-A83FA9559C41', CAST(19500.00 AS Numeric(18, 2)), NULL)
GO
SET IDENTITY_INSERT [Data].[SalesDetails] OFF
GO
INSERT [Data].[Stock] ([StockCode], [ModelID], [Cost], [RepairsCost], [PartsCost], [TransportInCost], [IsRHD], [Color], [BuyerComments], [DateBought], [TimeBought]) VALUES (N'B1C3B95E-3005-4840-8CE3-A7BC5F9CFB3F', 2, 52000.0000, 2175.0000, 1500.0000, 750.0000, 1, N'Red', N'Superb Car! Wish I could afford a second one!', CAST(N'2015-01-01' AS Date), CAST(N'12:55:00' AS Time))
GO
INSERT [Data].[Stock] ([StockCode], [ModelID], [Cost], [RepairsCost], [PartsCost], [TransportInCost], [IsRHD], [Color], [BuyerComments], [DateBought], [TimeBought]) VALUES (N'A2C3B95E-3005-4840-8CE3-A7BC5F9CFB5F', 3, 176000.0000, 5500.0000, 2200.0000, 1950.0000, 1, N'Blue', NULL, CAST(N'2015-01-10' AS Date), CAST(N'12:55:00' AS Time))
GO
INSERT [Data].[Stock] ([StockCode], [ModelID], [Cost], [RepairsCost], [PartsCost], [TransportInCost], [IsRHD], [Color], [BuyerComments], [DateBought], [TimeBought]) VALUES (N'558620F5-B9E8-4FFF-8F73-A83FA9559C41', 11, 15600.0000, 660.0000, 0.0000, 150.0000, 1, N'British Racing Green', N'An absolute example of the pinnacle of British engineering. This is a wonderful piece of kit.', CAST(N'2015-01-29' AS Date), CAST(N'12:55:00' AS Time))
GO
INSERT [DataTransfer].[Sales2015] ([MakeName], [ModelName], [CustomerName], [CountryName], [Cost], [RepairsCost], [PartsCost], [TransportInCost], [SalePrice], [SaleDate]) VALUES (N'Ferrari', N'Testarossa', N'Magic Motors', N'United Kingdom', 52000.0000, 2175.0000, 1500.0000, 750.0000, CAST(65000.00 AS Numeric(18, 2)), CAST(N'2015-01-02T00:00:00.000' AS DateTime))
GO
INSERT [DataTransfer].[Sales2015] ([MakeName], [ModelName], [CustomerName], [CountryName], [Cost], [RepairsCost], [PartsCost], [TransportInCost], [SalePrice], [SaleDate]) VALUES (N'Ferrari', N'355', N'Snazzy Roadsters', N'United Kingdom', 176000.0000, 5500.0000, 2200.0000, 1950.0000, CAST(220000.00 AS Numeric(18, 2)), CAST(N'2015-01-25T00:00:00.000' AS DateTime))
GO
INSERT [DataTransfer].[Sales2015] ([MakeName], [ModelName], [CustomerName], [CountryName], [Cost], [RepairsCost], [PartsCost], [TransportInCost], [SalePrice], [SaleDate]) VALUES (N'Ferrari', N'355', N'London Executive Prestige Vehicles', N'United Kingdom', 135600.0000, 5500.0000, 2200.0000, 1950.0000, CAST(169500.00 AS Numeric(18, 2)), CAST(N'2015-05-10T00:00:00.000' AS DateTime))
GO
INSERT [DataTransfer].[Sales2016] ([MakeName], [ModelName], [CustomerName], [CountryName], [Cost], [RepairsCost], [PartsCost], [TransportInCost], [SalePrice], [SaleDate]) VALUES (N'Ferrari', N'360', N'Glitz', N'Germany', 79600.0000, 500.0000, 750.0000, 750.0000, CAST(99500.00 AS Numeric(18, 2)), CAST(N'2016-04-30T00:00:00.000' AS DateTime))
GO
INSERT [DataTransfer].[Sales2016] ([MakeName], [ModelName], [CustomerName], [CountryName], [Cost], [RepairsCost], [PartsCost], [TransportInCost], [SalePrice], [SaleDate]) VALUES (N'Ferrari', N'Testarossa', N'Mrs. Ivana Telford', N'United Kingdom', 156000.0000, 3950.0000, 3150.0000, 1950.0000, CAST(195000.00 AS Numeric(18, 2)), CAST(N'2016-07-25T00:00:00.000' AS DateTime))
GO
INSERT [DataTransfer].[Sales2016] ([MakeName], [ModelName], [CustomerName], [CountryName], [Cost], [RepairsCost], [PartsCost], [TransportInCost], [SalePrice], [SaleDate]) VALUES (N'Ferrari', N'355', N'Honest Pete Motors', N'United Kingdom', 125200.0000, 2200.0000, 3150.0000, 1950.0000, CAST(156500.00 AS Numeric(18, 2)), CAST(N'2016-09-19T00:00:00.000' AS DateTime))
GO
INSERT [DataTransfer].[Sales2017] ([MakeName], [ModelName], [CustomerName], [CountryName], [Cost], [RepairsCost], [PartsCost], [TransportInCost], [SalePrice], [SaleDate]) VALUES (N'Ferrari', N'F50', N'Le Luxe en Motion', N'France', 204760.0000, 5500.0000, 750.0000, 1950.0000, CAST(255950.00 AS Numeric(18, 2)), CAST(N'2017-05-12T00:00:00.000' AS DateTime))
GO
INSERT [DataTransfer].[Sales2017] ([MakeName], [ModelName], [CustomerName], [CountryName], [Cost], [RepairsCost], [PartsCost], [TransportInCost], [SalePrice], [SaleDate]) VALUES (N'Ferrari', N'Enzo', N'Laurent Saint Yves', N'France', 316000.0000, 9250.0000, 2200.0000, 1950.0000, CAST(395000.00 AS Numeric(18, 2)), CAST(N'2017-02-08T00:00:00.000' AS DateTime))
GO
INSERT [DataTransfer].[Sales2017] ([MakeName], [ModelName], [CustomerName], [CountryName], [Cost], [RepairsCost], [PartsCost], [TransportInCost], [SalePrice], [SaleDate]) VALUES (N'Ferrari', N'355', N'Vive La Vitesse', N'France', 124000.0000, 9250.0000, 750.0000, 1950.0000, CAST(155000.00 AS Numeric(18, 2)), CAST(N'2017-09-20T00:00:00.000' AS DateTime))
GO
INSERT [DataTransfer].[Sales2018] ([MakeName], [ModelName], [CustomerName], [CountryName], [Cost], [RepairsCost], [PartsCost], [TransportInCost], [SalePrice], [SaleDate]) VALUES (N'Ferrari', N'F40', N'Laurent Saint Yves', N'France', 215600.0000, 5500.0000, 1500.0000, 1950.0000, CAST(269500.00 AS Numeric(18, 2)), CAST(N'2018-05-15T00:00:00.000' AS DateTime))
GO
INSERT [DataTransfer].[Sales2018] ([MakeName], [ModelName], [CustomerName], [CountryName], [Cost], [RepairsCost], [PartsCost], [TransportInCost], [SalePrice], [SaleDate]) VALUES (N'Ferrari', N'F50', N'Capots Reluisants S.A.', N'France', 248000.0000, 9250.0000, 7900.0000, 1950.0000, CAST(310000.00 AS Numeric(18, 2)), CAST(N'2018-03-15T00:00:00.000' AS DateTime))
GO
INSERT [DataTransfer].[Sales2018] ([MakeName], [ModelName], [CustomerName], [CountryName], [Cost], [RepairsCost], [PartsCost], [TransportInCost], [SalePrice], [SaleDate]) VALUES (N'Ferrari', N'Dino', N'Smooth Rocking Chrome', N'Italy', 156000.0000, 9250.0000, 750.0000, 1950.0000, CAST(195000.00 AS Numeric(18, 2)), CAST(N'2018-04-24T00:00:00.000' AS DateTime))
GO
INSERT [Output].[StockPrices] ([MakeName], [ModelName], [Cost]) VALUES (N'Porsche', N'Testarossa', 52000.0000)
GO
INSERT [Output].[StockPrices] ([MakeName], [ModelName], [Cost]) VALUES (N'Lamborghini', N'355', 176000.0000)
GO
INSERT [Output].[StockPrices] ([MakeName], [ModelName], [Cost]) VALUES (N'BMW', N'911', 15600.0000)
GO
SET IDENTITY_INSERT [Reference].[Budget] ON 
GO
INSERT [Reference].[Budget] ([BudgetKey], [BudgetValue], [Year], [Month], [BudgetDetail], [BudgetElement]) VALUES (1, 100000.0000, 2015, 1, N'TotalSales', N'Sales')
GO
INSERT [Reference].[Budget] ([BudgetKey], [BudgetValue], [Year], [Month], [BudgetDetail], [BudgetElement]) VALUES (2, 100000.0000, 2015, 2, N'TotalSales', N'Sales')
GO
INSERT [Reference].[Budget] ([BudgetKey], [BudgetValue], [Year], [Month], [BudgetDetail], [BudgetElement]) VALUES (3, 125000.0000, 2015, 3, N'TotalSales', N'Sales')
GO
SET IDENTITY_INSERT [Reference].[Budget] OFF
GO
INSERT [Reference].[Forex] ([ExchangeDate], [ISOCurrency], [ExchangeRate]) VALUES (CAST(N'2015-01-01' AS Date), NULL, NULL)
GO
INSERT [Reference].[Forex] ([ExchangeDate], [ISOCurrency], [ExchangeRate]) VALUES (CAST(N'2015-01-02' AS Date), NULL, NULL)
GO
INSERT [Reference].[Forex] ([ExchangeDate], [ISOCurrency], [ExchangeRate]) VALUES (CAST(N'2015-01-03' AS Date), NULL, NULL)
GO
INSERT [Reference].[MarketingCategories] ([MakeName], [MarketingType]) VALUES (N'Ferrari', N'Sports')
GO
INSERT [Reference].[MarketingCategories] ([MakeName], [MarketingType]) VALUES (N'Porsche', N'Sports,Tourer')
GO
INSERT [Reference].[MarketingCategories] ([MakeName], [MarketingType]) VALUES (N'Lamborghini', N'Sports')
GO
INSERT [Reference].[MarketingInformation] ([CUST], [Country], [SpendCapacity]) VALUES (N'Magic Motors', N'GB        ', N'Lots')
GO
INSERT [Reference].[MarketingInformation] ([CUST], [Country], [SpendCapacity]) VALUES (N'Snazzy Roadsters', N'GB        ', N'Some')
GO
INSERT [Reference].[MarketingInformation] ([CUST], [Country], [SpendCapacity]) VALUES (N'Birmingham Executive Prestige Vehicles', N'GB        ', N'None')
GO
INSERT [Reference].[SalesBudgets] ([BudgetArea], [BudgetAmount], [BudgetYear], [DateUpdated], [Comments], [BudgetMonth]) VALUES (N'USA', 250000.0000, 2017, CAST(N'2016-10-05T00:00:00.000' AS DateTime), N'Forgot to add this!', 3)
GO
INSERT [Reference].[SalesBudgets] ([BudgetArea], [BudgetAmount], [BudgetYear], [DateUpdated], [Comments], [BudgetMonth]) VALUES (N'Europe', 1149500.0000, 2017, CAST(N'2016-11-05T00:00:00.000' AS DateTime), N'Required too', 3)
GO
INSERT [Reference].[SalesBudgets] ([BudgetArea], [BudgetAmount], [BudgetYear], [DateUpdated], [Comments], [BudgetMonth]) VALUES (N'Rest of world', 50000.0000, 2017, CAST(N'2016-10-05T00:00:00.000' AS DateTime), N'Effort required', 3)
GO
INSERT [Reference].[SalesCategory] ([LowerThreshold], [UpperThreshold], [CategoryDescription]) VALUES (10000, 25000, N'Very Low')
GO
INSERT [Reference].[SalesCategory] ([LowerThreshold], [UpperThreshold], [CategoryDescription]) VALUES (25001, 50000, N'Low')
GO
INSERT [Reference].[SalesCategory] ([LowerThreshold], [UpperThreshold], [CategoryDescription]) VALUES (50001, 75000, N'Medium')
GO
SET IDENTITY_INSERT [Reference].[Staff] ON 
GO
INSERT [Reference].[Staff] ([StaffID], [StaffName], [ManagerID], [Department]) VALUES (1, N'Amelia', NULL, NULL)
GO
INSERT [Reference].[Staff] ([StaffID], [StaffName], [ManagerID], [Department]) VALUES (2, N'Gerard', 1, N'Finance')
GO
INSERT [Reference].[Staff] ([StaffID], [StaffName], [ManagerID], [Department]) VALUES (3, N'Chloe', 1, N'Marketing')
GO
SET IDENTITY_INSERT [Reference].[Staff] OFF
GO
SET IDENTITY_INSERT [Reference].[StaffHierarchy] ON 
GO
INSERT [Reference].[StaffHierarchy] ([HierarchyReference], [StaffID], [StaffName], [ManagerID], [Department]) VALUES (N'/1/', 1, N'Amelia', NULL, NULL)
GO
INSERT [Reference].[StaffHierarchy] ([HierarchyReference], [StaffID], [StaffName], [ManagerID], [Department]) VALUES (N'/1/1/', 2, N'Gerard', 1, N'Finance')
GO
INSERT [Reference].[StaffHierarchy] ([HierarchyReference], [StaffID], [StaffName], [ManagerID], [Department]) VALUES (N'/1/2/', 3, N'Chloe', 1, N'Marketing')
GO
SET IDENTITY_INSERT [Reference].[StaffHierarchy] OFF
GO
INSERT [Reference].[YearlySales] ([MakeName], [ModelName], [CustomerName], [CountryName], [Cost], [RepairsCost], [PartsCost], [TransportInCost], [SalePrice], [SaleDate]) VALUES (N'Ferrari', N'Testarossa', N'Magic Motors', N'United Kingdom', 52000.0000, 2175.0000, 1500.0000, 750.0000, CAST(65000.00 AS Numeric(18, 2)), CAST(N'2015-01-02T00:00:00.000' AS DateTime))
GO
INSERT [Reference].[YearlySales] ([MakeName], [ModelName], [CustomerName], [CountryName], [Cost], [RepairsCost], [PartsCost], [TransportInCost], [SalePrice], [SaleDate]) VALUES (N'Ferrari', N'355', N'Snazzy Roadsters', N'United Kingdom', 176000.0000, 5500.0000, 2200.0000, 1950.0000, CAST(220000.00 AS Numeric(18, 2)), CAST(N'2015-01-25T00:00:00.000' AS DateTime))
GO
INSERT [Reference].[YearlySales] ([MakeName], [ModelName], [CustomerName], [CountryName], [Cost], [RepairsCost], [PartsCost], [TransportInCost], [SalePrice], [SaleDate]) VALUES (N'Ferrari', N'355', N'London Executive Prestige Vehicles', N'United Kingdom', 135600.0000, 5500.0000, 2200.0000, 1950.0000, CAST(169500.00 AS Numeric(18, 2)), CAST(N'2015-05-10T00:00:00.000' AS DateTime))
GO
INSERT [SourceData].[SalesInPounds] ([MakeName], [ModelName], [VehicleCost]) VALUES (N'Ferrari', N'F50', N'£204760.00')
GO
INSERT [SourceData].[SalesInPounds] ([MakeName], [ModelName], [VehicleCost]) VALUES (N'Ferrari', N'F50', N'£248000.00')
GO
INSERT [SourceData].[SalesInPounds] ([MakeName], [ModelName], [VehicleCost]) VALUES (N'Ferrari', N'F40', N'£215600.00')
GO
INSERT [SourceData].[SalesText] ([CountryName], [MakeName], [Cost], [SalePrice]) VALUES (N'France', N'Ferrari', N'2 000,00 USD', N'255950.00')
GO
INSERT [SourceData].[SalesText] ([CountryName], [MakeName], [Cost], [SalePrice]) VALUES (N'France', N'Ferrari', N'2 000,00 USD', N'310000.00')
GO
INSERT [SourceData].[SalesText] ([CountryName], [MakeName], [Cost], [SalePrice]) VALUES (N'France', N'Ferrari', N'2 000,00 USD', N'269500.00')
GO
ALTER TABLE [Data].[Stock] ADD  CONSTRAINT [DF_Stock_StockCode]  DEFAULT (newid()) FOR [StockCode]
GO
